.row
  .col.s12
    - if user_signed_in?
      = link_to new_finder_path, class: 'btn-add btn-floating btn-large waves-effect waves-light green right' do
        %i.material-icons add
  .col.s12
    %table.hoverable
      %thead
        %tr
          %th Title
          %th Reference
      %tbody
        - @finders.each do |finder|
          %tr
            - if user_signed_in?
              %td= link_to h(finder.name), finder
            - else
              %td= h(finder.name)
            %td= link_to h(finder.reference), finder.reference, target: '_blank'
    = will_paginate @finders, renderer: MaterializePagination::Rails
