.row
  .col-xs-12
    %h1.text-center Listing Finders
    - if user_signed_in?
      %h3.text-center= link_to 'Add New Finder', new_finder_path, class: 'btn btn-success'
  .col-sm-12
    %table.table.table-hover
      %thead
        %tr
          %th #
          %th Looking For
          %th References
      %tbody
        - @finders.each_with_index do |finder, index|
          %tr
            %td= index+1
            - if user_signed_in?
              %td= link_to h(finder.name), finder
            - else
              %td= h(finder.name)
            %td= link_to h(finder.reference), h(finder.reference), target: '_blank'
