.row
  .col.s12.m8
    .row
      .col.s12.m4
        %p
          %strong Title
      .col.s12.m8
        %p= @finder.name
    .row
      .col.s12.m4
        %p
          %strong Reference
      .col.s12.m8
        %p= link_to h(@finder.reference), h(@finder.reference), target: '_blank'
    .row
      .col.s12.m4
        %p
          %strong Description
      .col.s12.m8
        %p= @finder.description

    - if user_signed_in?
      = link_to 'Back', finders_path, class: 'btn waves-effect waves-light blue'
      = link_to 'Edit', edit_finder_path(@finder), class: 'btn waves-effect waves-light orange'
      = link_to 'Delete', finder_path(@finder), class: 'btn waves-effect waves-light red', method: :delete, data: { confirm:'Are you sure you want to delete?' }
