.row
  .col-xs-12.col-sm-8
    .row
      .col-xs-12.col-sm-3
        %h5
          %strong Looking for :
      .col-xs-12.col-sm-9
        %h4= @finder.name
    .row
      .col-xs-12.col-sm-3
        %h5
          %strong Check this :
      .col-xs-12.col-sm-9
        %h5= link_to "#{@finder.reference}", @finder.reference
    .row
      .col-xs-12.col-sm-3
        %h5
          %strong Category :
      .col-xs-12.col-sm-9
        %h5= @finder.category.name
    - if user_signed_in?
      = link_to 'Edit', edit_finder_path(@finder), class: 'btn btn-link'
      |
      = link_to 'Back', finders_path, class: 'btn btn-link'
  / Related Finders, implement this later
  / .col-xs-12.col-sm-4
  /   %p
  /     %strong Are you looking for:
  /     = @finder.name
  /   %p
  /     %strong Check out this link:
  /     = @finder.reference
