!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title FastFinder

    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{:src => "https://use.typekit.net/fpe2ffe.js"}
    :javascript
      try{Typekit.load();}catch(e){}
    = csrf_meta_tags
  %body{ id: "#{controller_name}-#{params[:action]}" }
    = render 'shared/navbar_header'
    .container
      #notice.hide= notice if notice
      #alert.hide= alert if alert
      = yield
